name: Test
on:
  push:
  pull_request:
  schedule:
    - cron: "43 19 * * *"
permissions:
  contents: read
jobs:
  test:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        node-version:
          - 20.x # Maintenance LTS as of 2025-12
          - 22.x # Maintenance LTS as of 2025-12
          - 24.x # Active LTS as of 2025-12
          - 25.x # Current as of 2025-12
    steps:
      - uses: actions/checkout@v5
        with:
          persist-credentials: false
      - name: Use Node.js ${{ matrix.node-version }}
        uses: actions/setup-node@v6
        with:
          node-version: ${{ matrix.node-version }}
      - run: |
          npm update
          npm run build
          npm run lint
          npm run test
          npm run examples:node
  esbuild:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5
        with:
          persist-credentials: false
      - uses: actions/setup-node@v6
        with:
          node-version: 25.x # Current as of 2025-12
      - run: |
          npm update
          npm run build
          echo 0 | sudo tee /proc/sys/kernel/apparmor_restrict_unprivileged_userns
          npm run examples:esbuild
  bun:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5
        with:
          persist-credentials: false
      - uses: actions/setup-node@v6
        with:
          node-version: 25.x # Current as of 2025-12
      - run: |
          npm install -g bun
          npm update
          npm run build
          npm run examples:bun
          # https://github.com/oven-sh/bun/issues/4145
          # bun run --bun test:short
  deno:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5
        with:
          persist-credentials: false
      - uses: actions/setup-node@v6
        with:
          node-version: 25.x # Current as of 2025-12
      - run: |
          npm install -g deno
          npm update
          npm run build
          npm run examples:deno
  yarn:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5
        with:
          persist-credentials: false
      - uses: actions/setup-node@v6
        with:
          node-version: 25.x # Current as of 2025-12
      - run: |
          npm install -g yarn
          npm update
          npm run build
          npm run examples:yarn
  pnpm:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5
        with:
          persist-credentials: false
      - uses: actions/setup-node@v6
        with:
          node-version: 25.x # Current as of 2025-12
      - run: |
          npm install -g pnpm
          npm update
          npm run build
          npm run examples:pnpm
